* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  color: #282828;
  /* background-color: #f5f5f5; */
}

.container {  
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
}
.board-card {
  background-color: white;
  padding: 2rem; 
  
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
}
.board {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}

.board-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.board-img {
  border-radius: 6px;
  width: 150px;
}

.board-txt {
  flex-grow: 1;
}
.board-title {
  font-size: 18px;
  font-weight: 500;
}
.board-desc {
  color: #777777;
  font-weight: 300;
  margin-top: .4rem;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f0f0f0;
  }
}
